---
import { Container } from './container';
---

<Container>
  <section class="note">
    <h2 class="title">Discovering Peace with Breathurr</h2>
    <p class="text">
      In the fast-paced rhythm of everyday life, where each moment feels like a
      race against time, stress can envelop your mind like a fog that’s hard to
      clear.
    </p>
    <p class="text">
      With Breathurr, you have the opportunity to step away from the chaos. Take
      a moment to embrace stillness, pause the relentless stream of thoughts,
      and simply breathe. Allow your breath to guide you, gently washing away
      the burdens of your hectic day. Inhale clarity and exhale distraction,
      creating a tranquil refuge where you can just be, if only for a moment.
    </p>
  </section>
</Container>

<style>
  .note {
    padding: 30px 0 40px;

    & .title {
      margin-bottom: 12px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      color: var(--color-foreground);
    }

    & .text {
      line-height: 1.6;
      color: var(--color-foreground-subtle);

      &:not(:last-of-type) {
        margin-bottom: 12px;
      }
    }
  }
</style>
